RewriteEngine On
RewriteCond %{SERVER_PORT} 80

RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^working-papers/(.*) https://resulumit.com/publications/$1 [R=301,L,NC]
RewriteRule ^researchtips/(.*) https://resulumit.com/hyndsight/$1 [R=301,L,NC]
RewriteRule ^papers/(.*(?<!pdf)$) https://resulumit.com/publications/$1 [R=301,L,NC]
RewriteRule ^resulumit.com/fpp/(.*) https://fpp.resulumit.com/$1 [R=301,L,NC]


ErrorDocument 404 /404.html
