{{ define "main" }}
<div class="wrapper">
  <div class="row">
    <div style='padding: 1rem 0.9375rem 1rem;'>

      <h3><a href="https://resulumit.com/files/cv_resulumit.pdf" class="badge badge-large">Curriculum Vitae&nbsp;<i class="fa fa-file-pdf-o"></i></a>

      <a href="https://scholar.google.com/citations?user=J5Ck-vkAAAAJ&hl=en" class="badge badge-large">Google Scholar&nbsp;&nbsp;&nbsp;<i class="ai ai-google-scholar"></i></a></h3>

      <div style='padding-bottom: 2rem;'></div>
      
      </div>
      <h2>Journal articles</h2>
      {{ range (where .Pages "Params.kind" "==" "article").GroupByDate "2006" "desc" }}
      <div class="row">
        <div class="column small-2 medium-2">
          <h3>{{ .Key }}</h3>
        </div>
        <div class="column small-10 medium-10">
          <span style="font-size: 90%">
           <ul class="compact fa-ul">
             {{ range .Pages.ByDate.Reverse }}
             <li style="margin-bottom: 9px;">{{ partial "pub-summary" . }}</li>
             {{ end }}
           </ul></span>
         </div>
       </div>
       {{ end }}
       
       <div style='padding-bottom: 2rem;'></div>
      
      <h2>Reports</h2>
      {{ range (where .Pages "Params.kind" "==" "report").GroupByDate "2006" "desc" }}
      <div class="row">
        <div class="column small-2 medium-2">
          <h3>{{ .Key }}</h3>
        </div>
        <div class="column small-10 medium-10">
          <span style="font-size: 90%">
           <ul class="compact fa-ul">
             {{ range .Pages.ByDate.Reverse }}
             <li style="margin-bottom: 9px;">{{ partial "pub-summary" . }}</li>
             {{ end }}
           </ul></span>
         </div>
       </div>
       {{ end }}
       
     </div>
   </div>
 </div>
 {{ end }}
